@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/*** Banner ***/
.ctn{
    margin: 5px 0 30px 0;
}
.banner
{
    position: relative;
    
}
#background-filter .filter
{
    position: absolute;
    bottom: 30%;
    width: 100%;
    background-color:rgba(185, 180, 152, 0.308);
    height: fit-content;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    
}
#background-filter #bg-title{
    position: absolute;
    top: 20%;
    color: white;
    font-size: 4rem;
    text-align: center;
    width: 100%;
}

label
{
    color: rgb(231, 224, 209);
}


