@import '~antd/dist/antd.css';
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*** Banner ***/
.ctn{
    margin: 0px 0 30px 0;
}
.banner
{
    position: relative;
    
}
#background-filter .filter
{
    position: absolute;
    /* bottom: 30%; */
    width: 100%;
    background-color:rgba(34, 24, 31, 0.432);
    height: fit-content;
    padding: 1rem 1rem 0;
    border-radius: 5px;
    justify-self: center;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#background-filter #bg-title{
    position: absolute;
    top: 15%;
    color: rgba(35, 25, 44, 0.897);
    font-size: 4rem;
    text-align: center;
    width: 100%;
    letter-spacing: 0.3em;
    font-family: 'Oswald', sans-serif;
}

label
{
    color: rgb(231, 224, 209);
}

/* ipad */
@media screen and (min-width: 700px){
    .banner-scr-mobile{
        display: none;
    }
    #background-filter .filter
    {
        width: 100%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #background-filter #bg-title{
        top: 20%;
        font-size: 3rem;
    }
}
/* ipad pro */
@media screen and (min-width: 1000px){
    .banner-scr-mobile{
        display: none;
    }
    #background-filter .filter
    {
        width: 95%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #background-filter #bg-title{
        top: 20%;
        font-size: 3rem;
    }
}

/* desktop */
@media screen and (min-width: 1300px){
    .banner-scr-mobile{
        display: none;
    }
    #background-filter .filter
    {
        width: 80%;
        
    }
    #background-filter #bg-title{
        top: 20%;
        font-size: 4rem;
    }
}
/* for mobile */
@media screen and (max-width: 600px) {
    .banner-scr{
        display: none;
    }

    #background-filter .filter
    {
        position: absolute;
        bottom: 0;
        width: 70%;
        height: 100%;
        width: fit-content;
        background-color:rgba(179, 168, 111, 0.137);
        height: fit-content;
        border-radius: 5px;
        color: white;
        
    }
    #background-filter #bg-title{
        position: absolute;
        top: 30%;
        color: white;
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    #bg-title{
        display: none;
    }
    /* .container{
        padding: 0 !important;  
    } */
    .ctn{
        margin: -60px 0 30px 0;
        padding: 0 !important;
    }
}



