.container
{
    padding: 50px;
    margin-top: 100px;
    background-color: ivory;
}

.results .row
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 2px;
    
}
.results .col-lg-2
{
    background-color: lightseagreen;
}
.results .col-lg-4
{
    padding: 0;
    margin: 0;
}
.results .mt-title
{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.mt-title p
{
    background-color: rgb(9, 241, 202);
    border-radius: 5px;
    width: fit-content;
    padding: 0 5px;
    margin: auto 0
}
.mt-title h4
{
    width: fit-content;
    align-self: center;
    margin: 0 5px;

}
/********* motel ********/
.results
{
    padding: 5px 0;
}
/************** đây là khung hình ảnh ***********/
.img
{
    padding: 0;
    margin: 0;
}
img{
    margin: 0;
    width: 100%;
}