@import '~antd/dist/antd.css';
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .card-body{
    padding: 0 !important;
  }
  .navprofile
  {
    padding: 0;
    margin: 0;
    background-color: blue;
  }
  .link{
    padding: 0;
    margin: 0;
    color: black !important;
  }
  .bder{
    border-bottom: 1px solid lightgray;
    color: black !important;
  }
.edt
{
  margin: 20px 0;
}
.row label{
  color: rgb(54, 57, 64);
}
.row{
  margin: 10px 0;
}
.formm{
  margin: 20px 10px;
}

.btnsbm{
  float: right;
}
.clfont
{
  color: rgb(54, 57, 64);
}
.profile{
  margin-top: 40px;
}

.btn-submit-profile
{
    width: 100%;
    text-align: right;
}
