.content-slider {
    position: absolute; /* Position the background text */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.644); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 60%; /* Full width */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 5px;
  }
  .content-slider h5{
    font-weight: 400 !important;
  }
.slider-slickcss{
  padding: 0 !important;

}
.arrow-slider-next{
  right: -10px
}
.arrow-slider-prev{
  left: -10px
}
.arrow-slider-prev, .arrow-slider-next{
  top: 40%;
  font-size: 40px;
}
@media screen and (max-width: 600px){
  .content-slider h5{
    font-size: medium;  
  }
  .content-slider p{
    font-size: 16px;  
  }
  .arrow-slider-prev, .arrow-slider-next{
    font-size: 20px;
    top: 40%;
  }
  .arrow-slider-next{
    right: 3px !important;
  }
  .arrow-slider-prev{
    left: 3px !important;
  }
}