@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);

.footer-react a:link {
    color: #212529 !important;
}
  
.footer-react a:hover {
    cursor: pointer;
    color: #458877 !important;
    text-decoration: none !important;
 }
  
.footer-react a:visited {
    color: #212529 !important; 
}
  
.footer-react a:active {
    color: black !important; 
}

.footer-head{
    background-color: #7274731c;
}
.foot-head-padding{
    padding: 15px 0 !important;
}
.foot-ft-magin{
    margin-top: 40px;
}
.foot-logo{
    width: 70%;
}


/* mobile */
@media screen and (max-width: 600px) {
    .footer-react hr{
        margin: 4px 0 0 0 !important;
    }
    .contact-with-us h6 {
        font-size: small;
    }
    .footer-react h6{
        margin: 0 !important;
        padding: 0 !important;
        font-size: small;
    }
    .icon-social i {
        font-size: small;
    }
    .footer-react p{
        padding: 0;
        margin: 0;
        margin-top: 5px;
    }
    
    .foot-head-padding{
        padding: 10px 0 !important;
    }
    .foot-ft-magin{
        margin-top: 20px;
    }
    .foot-logo{
        width: 40%;
    }
}