.item-mt
{
    /* border: 0.02rem solid #f5c86659; */
    margin-bottom: 10px; 
    padding: 10px ;
    background-color: #7274731c;
}
.mt-title
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.mt-title p
{
    background-color: rgb(9, 241, 202);
    border-radius: 5px;
    width: fit-content;
    padding: 0 5px;
    margin: auto 0
}
.mt-title h6
{
    font-size: large;
}

.mt-addr{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0;
}
.mt-addr p
{
    margin: 0 5px;
}
.mt-price
{
    font-weight: bold;
    color: rgb(241, 9, 40);
    margin: 0;
}

/************** đây là khung hình ảnh ***********/
.img
{
    padding: 0;
    margin: 0;
}
img{
    margin: 0;
    width: 100%;
}
.contain-img-frame{
    width: 100%;
    height: 170px;
    background-color: rgb(65, 61, 61);
    display: flex;
    justify-items: center;
    align-items: center;
}

a.subnav_link:link {
    color: #212529;
}
  
a.subnav_link:hover {
    cursor: pointer;
    color: #458877; }
  
a.subnav_link:visited {
    color: #212529; }
  
a.subnav_link:active {
    color: black; }


    /* for mobile */
@media screen and (max-width: 600px) {
    .mt-title h6{
        font-size: medium;
        margin: 0;
        
    }
    .mt-content div{
        font-size: small;
    }
    /* .container{
        padding: 0 !important;
    } */
    .item-mt
    {
        border: 0.02rem solid #f5c86659;
        margin-bottom: 5px; 
        padding: 2px ;
        /* background-color: #cfc5ad59; */
    }
}
.mt-content div{
    color: rgb(22, 19, 19);
}
